<!-- templates/index.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Morse Code Encoder/Decoder</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="body-contioner">
        <h1>Morse Code Encoder/Decoder</h1>
    
        <form action="/" method="POST">
            <input class="text-inpout" type="text" id="text" name="text" placeholder="Enter Text or Morse Code">
            <input class="button" type="submit" value="Submit">
        </form>
    
        <h2 style="color: #EFF5F5;">Result:</h2>
        <p style="color: #EFF5F5;">{{.}}</p>
    </div>
</body>
</html>